<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<divclass="form-group">
<labelfor="userloginid">UserLoginId</label>
<inputtype="text"formControlName="userloginid"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userloginid.errors }" />
<div *ngIf="submitted && f.userloginid.errors"class="invalid-feedback">
<div *ngIf="f.userloginid.errors.required">UserLoginId is required</div>
</div>
</div>
<divclass="form-group">
<labelfor="userpassword">Password</label>
<inputtype="password"formControlName="userpassword"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userpassword.errors }" />
<div *ngIf="submitted && f.userpassword.errors"class="invalid-feedback">
<div *ngIf="f.userpassword.errors.required">Password is required</div>
</div>
</div>
<divclass="form-group">
<button [disabled]="loading"class="btn btn-primary">
<span *ngIf="loading"class="spinner-border spinner-border-sm mr-1"></span>
 Login
</button>
<arouterLink="/register"class=" btn btn-link">Register</a>
</div>
</form>